<div class="about-me" id="about-me" >
  <h2 class="section-title">Get To Know More</h2>
  <h1 class="main-title">About Me</h1>

  <div class="about-content">
    <div class="profile-pic">
      <img src="assets/path-to-your-image.png" alt="Moghaddam">
    </div>
    <div class="about-details">
      <div class="card experience">
        <div class="icon">
          <img src="assets/exp-icon.jpg" alt="Experience Icon">
        </div>
        <h3>Experience</h3>
        <p>1 year</p>
        <p>Frontend Development</p>
      </div>
      <div class="card education">
        <div class="icon">
          <img src="assets/education-icon.jpg" alt="Education Icon">
        </div>
        <h3>Education</h3>
        <p>Bachelor of Occupational Health and Safety Engineering
          at Iran University</p>
      </div>
      <div class="card education">
        <div class="icon">
          <img src="assets\Language_icon.png" alt="Education Icon">
        </div>
        <h3>Languages</h3>
        <p> English </p>
        <p>Persian</p>
      </div>
    </div>
  </div>
 <p class="description" *ngFor="let profile of profiles">
 {{profile}}
 </p>

</div>