.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #152f4d;
background: linear-gradient(90deg,rgba(21, 47, 77, 1) 18%, rgba(55, 90, 120, 1) 47%, rgba(39, 71, 100, 1) 64%);
  color: #EFE4D2;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: #EFE4D2;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #DDA853; /* warm hover */
}
.lang-switch {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.3rem;
}

.lang-switch img {
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

.lang-switch img:hover {
  transform: scale(1.1);
}
