<nav class="navbar">
  <div [class.nav-links]="isHamburgerOpen" [class.inactive]="!isHamburgerOpen" (click)="closeHamburger()">
    <a class="navBtn" routerLink="/">{{ 'NAV.HOME' | translate }}</a>
    <a class="navBtn" routerLink="/projects">{{ 'NAV.PROJECTS' | translate }}</a>
    <a class="navBtn" routerLink="/about">{{ 'NAV.ABOUT' | translate }}</a>
    <a class="navBtn" routerLink="/contact">{{ 'NAV.CONTACT' | translate }}</a>
  </div>

  <div class="hamburger-menu" (click)="toggleHamburger()"><i class="fa fa-bars"  style="font-size:24px"></i></div>

  <div [class.view]="isHamburgerOpen" [class.inactive]="!isHamburgerOpen" (click)="toggleHamburger()"></div>

  <div [class.triangle]="isHamburgerOpen" [class.inactive]="!isHamburgerOpen"></div>

  <button class="lang-switch" (click)="switchLang()" aria-label="Switch language">
    <img *ngIf="currentLang === 'en'"
      src="https://flagcdn.com/16x12/gb.png"
      srcset="https://flagcdn.com/32x24/gb.png 2x, https://flagcdn.com/48x36/gb.png 3x"
      width="24"
      height="18"
      alt="English" />

    <img *ngIf="currentLang === 'de'"
      src="https://flagcdn.com/16x12/de.png"
      srcset="https://flagcdn.com/32x24/de.png 2x, https://flagcdn.com/48x36/de.png 3x"
      width="24"
      height="18"
      alt="Deutsch" />
  </button>
</nav>
