<section id="experience" class="mb-4 container">
    <h2 class="text-primary text-center">Experience</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Junior Angular Developer</h3>
            <p class="card-text">Dolphin-co, Tehran</p>
            <p class="card-text"><small class="text-muted">Jan 2023 - Dec 2023</small></p>
            <ul>
              <li>Engineered a dynamic e-commerce platform using Angular, resulting in a 40% boost in online sales and a 50% reduction in page load time.</li>
              <li>Designed and implemented reusable components, services, and models to enhance the maintainability and scalability of the application.</li>
              <li>Conducted code refactoring to improve code quality and performance.</li>
              <li>Ensured cross-browser compatibility and responsiveness of the application across all pages.</li>
              <li>Collaborated with UI/UX designers to optimize user interfaces and improve user experience.</li>
              <li>Participated in Agile Scrum ceremonies and worked closely with team members to ensure timely and efficient project delivery.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
