<div class="experience">
  <h2 class="section-subtitle">Browse My Recent</h2>
  <h1 class="section-title">Experience</h1>
  <div class="experience-content">
    <div class="experience-card">
      <h3>Angular Developer</h3>
      <span>Jan 2023 - Dec 2023</span>
      <span> Dolphin-co | Tehran, Iran</span><br>
      <ul class="responsive-list">
        <li *ngFor="let achievement of achievements">
          {{ achievement }}
        </li>
      </ul>
    </div>
    <div class="experience-card">
      <h3>Personal Development</h3>
      <span>Jan 2024 - Present</span>
      <span> Self-driven Projects and Learning Initiatives| Berlin, Germany</span><br>
      <ul class="responsive-list">
        <li  *ngFor="let development of developments ">
          {{ development }}
        </li>
      </ul>
    </div>
  </div>
</div>

  
     