<section id="contact" class="container mb-4">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <h2 class="text-primary text-center">Contact</h2>
        <p>Email: <a href="mailto:Mozhganmogadam@gmail.com">Mozhganmogadam&#64;gmail.com</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/mozhgan-moqadam/" target="_blank">https://www.linkedin.com/in/mozhgan-moqadam/</a></p>
        <p>GitHub: <a href="https://github.com/mozhgan-moqadam" target="_blank">https://github.com/mozhgan-moqadam</a></p>
      </div>
    </div>
  </section>
  