<section id="contact" class="container mb-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 text-left">
      <h2 class="text-primary">Contact</h2>
      <p class="lead">Feel free to reach out to me through any of the following channels:</p>
      <div class="d-flex justify-content-center">
        <div class="contact-item p-2">
          <i class="fas fa-envelope fa-2x"></i>
          <p>Email: <a href="mailto:Mozhganmogadam&#64;gmail.com">Mozhganmogadam&#64;gmail.com</a></p>
        </div>
        <div class="contact-item p-2">
          <i class="fab fa-linkedin fa-2x"></i>
          <p><a href="https://www.linkedin.com/in/mozhgan-moqadam/" target="_blank" rel="noopener noreferrer">LinkedIn</a></p>
        </div>
        <div class="contact-item p-2">
          <i class="fab fa-github fa-2x"></i>
          <p><a href="https://github.com/mozhgan-moqadam" target="_blank" rel="noopener noreferrer">GitHub</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
