body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contact {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.section-subtitle {
  font-size: 1rem;
  color: #666;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0 2rem 0;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.contact-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
.contact-item a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.contact-item a:hover {
  text-decoration: underline;
}


.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }

  .section-subtitle {
    font-size: 0.875rem;
  }

  .contact-card {
    flex-direction: column;
  }
}
