<div class="contact" id="contact">
  <h2 class="section-subtitle">Get in Touch</h2>
  <h1 class="section-title">Contact Me</h1>
  <div class="contact-card">
    <div class="contact-item">
      <img src="assets\email-icon.jpg" alt="Email Icon" class="contact-icon">
      <span>Mozhganmogadam&#64;gmail.com</span>
    </div>
    <a href="https://www.linkedin.com/in/mozhgan-moqadam/" class="contact-item">
      <img src="assets/linkedintr-icon.png" alt="LinkedIn Icon" class="contact-icon">
      <span>LinkedIn</span>
    </a>
  </div>
</div>
