.about {
   background:url('/assets/home-bg.jpg') no-repeat center center/cover;
  color: #efe4d2;
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1000px;
  align-items: center;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #DDA853;
}

.about-text p {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.8;
}

.highlight {
  color: #DDA853;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 2px solid #954C2E;
  border-radius: 4px;
  color: #954C2E;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #954C2E;
  color: #EFE4D2;
}

.about-photo {
  flex: 1;
  text-align: center;
}

.about-photo img {
  max-width: 250px;
  border-radius: 15%;
  border: 4px solid #254D70;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skills {
  margin-top: 3rem;
  text-align: left;
}

.skills h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #E3A14B;
  
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.skill {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background: #fff;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill i {
  font-size: 1.5rem;
  color: #954C2E;
}

.skill span {
  font-weight: 500;
  color: #1a1a1a;
}

.skill:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background: #8c6f63;
  color: #EFE4D2;
}



