<div class="experience">
  <h2 class="section-subtitle">Explore My</h2>
  <h1 class="section-title">Skills</h1>

  <div class="experience-content">
    <div class="experience-card">
      <ul>
        <li>
          <img src="assets\verify-icon.png" alt="Icon">
          <span>Angular</span>
          <span>Experienced</span>
        </li>
        <li>
          <img src="assets\verify-icon.png" alt="Icon">
          <span>TypeScript</span>
          <span>Basic</span>
        </li>
        <li>
          <img src="assets\verify-icon.png" alt="Icon">
          <span>HTML</span>
          <span>Experienced</span>
        </li>
        <li>
          <img src="assets\verify-icon.png" alt="Icon">
          <span>CSS</span>
          <span>Experienced</span>
        </li>
        <li>
          <img src="assets\verify-icon.png" alt="Icon">
          <span>SASS</span>
          <span>Intermediate</span>
        </li>
        <li>
          <img src="assets\verify-icon.png" alt="Icon">
          <span>Git</span>
          <span>Experienced</span>
        </li>
        <li>
          <img src="assets\verify-icon.png" alt="Icon">
          <span>Bootstrap</span>
          <span>Experienced</span>
        </li>
      </ul>
    </div>

   