<section id="skills" class="mb-4">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
    <h2 class="text-primary">Skills</h2>
    <ul class="list-group">
      <li class="list-group-item">Angular</li>
      <li class="list-group-item">TypeScript</li>
      <li class="list-group-item">HTML</li>
      <li class="list-group-item">CSS</li>
      <li class="list-group-item">Git</li>
      <li class="list-group-item">Bootstrap</li>
      <li class="list-group-item">Scrum</li>
    </ul>
  </div>
  </section>
  