/* styles.css */
#scrollToTopBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    background-color: #555; 
    color: white; 
    border: none; 
    padding: 10px;
    border-radius: 5px; 
    cursor: pointer; 
    z-index: 1000; }
  
  #scrollToTopBtn:hover {
    background-color: #333; 
  }
  