/* styles.css */
#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button 20px from the bottom */
    right: 20px; /* Place the button 20px from the right */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    border: none; /* Remove borders */
    padding: 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a mouse pointer on hover */
    z-index: 1000; /* Ensure it is on top of other elements */
  }
  
  #scrollToTopBtn:hover {
    background-color: #333; /* Add a dark-grey background on hover */
  }
  