<section class="projects">
  <h2>{{ 'PROJECTS.TITLE' | translate }}</h2>

  <div class="projects-grid">
    <div class="project-card" *ngFor="let project of projects; let i = index">
       <h3>{{ ('PROJECTS.LIST.' + project.id + '.TITLE') | translate }}</h3>
      <p [innerHTML]="('PROJECTS.LIST.' + project.id + '.DESC') | translate"></p>



      <div class="image-slider">
        <button class="nav-btn left" (click)="prevImage(project)">&#10094;</button>

        <img
          [src]="project.images[project.currentIndex]"
          [alt]="('PROJECTS.LIST.' + project.id + '.TITLE') | translate"
          class="project-img"
        />

        <button class="nav-btn right" (click)="nextImage(project)">&#10095;</button>
      </div>
    </div>
  </div>
</section>
