<div class="profile">
  <div class="profile-image">
    <img src="assets/profile-picture.jpg" alt="John Doe">
  </div>
  <div class="profile-details">
    <p class="greeting">Hello, I'm</p>
    <h1 class="name">Mozhgan Moghaddam</h1>
    <p class="title">Frontend Developer</p>
    <div class="profile-actions">
      <a href="assets\cv.pdf" download="Mozhgan_Moghaddam_CV.pdf">
        <button class="btn download-cv">Download CV</button>
      </a>
     
    </div>
    <div class="profile-socials">
      <a href="https://www.linkedin.com/in/mozhgan-moqadam/" target="_blank">
        <img src="assets/linkedin-icon.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/mozhgan-moqadam" target="_blank">
        <img src="assets/github-icon.png" alt="GitHub">
      </a>
    </div>
  </div>
</div>