<section id="profile" class="container mb-4">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
        <h2 class="text-primary text-center">Profile</h2>
        <p class="text-justify">
          Frontend Developer with experience specializing in Angular framework. Proven track record in developing dynamic and responsive e-commerce platforms, resulting in significant improvements in online sales and user experience. Adept at collaborating within Agile Scrum teams and skilled in TypeScript, HTML, CSS, and Bootstrap.
        </p>
      </div>
    </div>
  </section>
  